{% extends "baseDash.html.twig" %}

{% block title %}
	{{ parent() }}
	Modifier le prono
{% endblock %}

{% block body %}

	<style>
		label {
			float: left
		}

		legend {
			text-align: left
		}


		.container {
			text-align: center
		}
	</style>
	<h2 style="text-align:center" class="my-4">Creer un prono</h2>

	<div style="" class="container">
		{{ form(prono_form) }}

		</div>
	{% endblock %}
