{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<style>
		nav {
			background-color: white;
			margin-bottom: 50px
		}
	</style>

	<div class="container mb-4">
		<h1>Une erreur est survenue lors de votre paiement !</h1>


	</div>

{% endblock %}
